<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="" class="nav-link px-2 link-secondary" routerLink="/">Home</a></li>
        <li><a href="#" class="nav-link px-2 link-body-emphasis" routerLink="AboutUs">About</a></li>
        <li><a href="" class="nav-link px-2 link-body-emphasis" routerLink="rooms">Rooms</a></li>
        <li><a href="#" class="nav-link px-2 link-body-emphasis" routerLink="booking">Book</a></li>
        <li><a href="" class="nav-link px-2 link-body-emphasis" routerLink="/facilitiesHeading">Facilities</a></li>
        <li><a href="#" class="nav-link px-2 link-body-emphasis" routerLink="/contact">Contact</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>

      <div class="dropdown text-end">
        <!-- <button href="" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </button> -->
        <div class="btn-group" dropdown>
          <button type="button" class="btn btn-danger">Action</button>
          <button id="button-split" type="button" dropdownToggle class="btn btn-danger dropdown-toggle dropdown-toggle-split"
                  aria-controls="dropdown-split">
            <span class="caret"></span>
            <span class="sr-only visually-hidden">Split button!</span>
          </button>
          <ul id="dropdown-split" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-split">
            <li role="menuitem"><a class="dropdown-item" href="" routerLink="/login">Login</a></li>
            <li role="menuitem"><a class="dropdown-item" href="" routerLink="/ragistration">Ragistration</a>
            </li>
            <li role="menuitem"><a class="dropdown-item" href="" routerLink="/AdminLogin">Admin Login</a></li>
            <li role="menuitem"><a class="dropdown-item" href="" routerLink="/AdminDashBoard">AdminDashBoard</a></li>
            <li role="menuitem"><a class="dropdown-item" href="" routerLink="/Paymen">Payment</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="">Log Out</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

