<carousel [pauseOnFocus]="true">
  <slide class="heightcorusal">
    <img src="../../assets/images/pexels-pixabay-261169.jpg" alt="First slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Our Rooms</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
  <slide class="heightcorusal">
    <img src="../../assets/images/pexels-pixabay-258154.jpg" alt="Second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Our Rooms</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </slide>
  <slide class="heightcorusal">
    <img src="../../assets/images/pexels-pixabay-261181.jpg" alt="Third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Our Rooms</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide>
</carousel>



<section class="showcase">

  <div class="container">

    <div class="col-lg-12">
      <div class="section-title rooms-margin">
      <h1>Our Rooms</h1>
      <p>The concept and service of the best luxury hotels in <br>Asturias in our sophisticated.</p>
      </div>
    </div>



      <div class="album py-5">

          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">

              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                  <title>Placeholder</title>
                  <image xlink:href="../../assets/images/RoyalDeluxRoom.jpg" width="100%" height="100%" preserveAspectRatio="xMidYMid slice"/>
                  <text x="50%" y="50%" fill="#eceeef" dy=".3em">Room</text>
              </svg>
                <div class="card-body">
                  <h1>Super Delux</h1>
                  <h3 class="card-title pricing-card-title">$5000<small class="text-body-secondary fw-light">/night</small></h3>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text">Available Rooms: </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/spdelux">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Book Now</button>
                    </div>
                    <small class="text-body-secondary">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                  <title>Placeholder</title>
                  <image xlink:href="../../assets/images/delux.jpg" width="100%" height="100%" preserveAspectRatio="xMidYMid slice"/>
                  <text x="50%" y="50%" fill="#eceeef" dy=".3em">Room</text>
              </svg>
                <div class="card-body">
                  <h1>Delux</h1>
                  <h3 class="card-title pricing-card-title">$2000<small class="text-body-secondary fw-light">/night</small></h3>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text">Available Rooms: </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/delux">Veiw</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Book Now</button>
                    </div>
                    <small class="text-body-secondary">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                  <title>Placeholder</title>
                  <image xlink:href="../../assets/images/NormalRoom.jpg" width="100%" height="100%" preserveAspectRatio="xMidYMid slice"/>
                  <text x="50%" y="50%" fill="#eceeef" dy=".3em">Room</text>
              </svg>
                <div class="card-body">
                  <h1>Normal</h1>
                  <h3 class="card-title pricing-card-title">$1000<small class="text-body-secondary fw-light">/night</small></h3>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text">Available Rooms: </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/normal">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Book Now</button>

                    </div>
                    <small class="text-body-secondary">9 mins</small>
                  </div>
                </div>
              </div>
            </div>



          </div>
        </div>
      </div>

</section>


