.jumbotron-bg {
  background-image: url('../../../assets/images/roomm.jpg');
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
}

.text-light{
  color: #f4f4f4;
}
