
<div class="container my-5">
  <div class="p-5 text-center bg-body-tertiary rounded-3 jumbotron-bg">
    <svg class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="100" height="100"><use xlink:href="#bootstrap"></use></svg>
    <h1 class=" text-light">Our Rooms</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
      This is a custom jumbotron featuring an SVG image at the top, some longer text that wraps early thanks to a responsive <code>.col-*</code> class, and a customized call to action.
    </p>

  </div>
</div>

<div class="container">
<div class="col-md-12">
  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-primary-emphasis">Room</strong>
      <h3 class="mb-0">Delux Room</h3>
      <div class="mb-1 text-body-secondary">Tow bed Rooms, One balcony, one living room, Free wifi, Free Service</div>
      <strong class="d-inline-block mb-2 text-primary-emphasis">Available Rooms: </strong>
      <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
        Continue reading
        <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
      </a>
    </div>
    <div class="col-auto d-none d-lg-block">
      <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <!-- Use a rectangle for background color -->
        <rect width="100%" height="100%" fill="#55595c"></rect>
        <!-- Display the placeholder text -->
        <text x="50%" y="50%" fill="#eceeef" dy=".3em" text-anchor="middle">Thumbnail</text>
        <!-- Display the image -->
        <image href="../../../assets/images/delux.jpg" width="200" height="250" />
      </svg>
    </div>
  </div>
</div>
</div>
